{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $usage := promptStringOnce . "usage" "Usage" -}}

[data]
    email = {{ $email | quote }}
    usage = {{ $usage | quote }}

[edit]
    command = "code"
    args = ["--wait"]